
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    flex-wrap: wrap; 
}

.container .progressItem {
    width: 156px;
    background-color: #d9d9d9;
    color: #333;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.container .progressItem.active {
    background-color: #850953;
    color: white;
}